body {
    font-family: 'Rounded Mplus 1c', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo-ramenGO {
    align-self: flex-start;
    padding-left: 32px;
    max-width: 125px;
}
header {
    position: relative;
    color: white;
    text-align: left;
    overflow: hidden;
    background: url('assets/pattern-vermelha.png') repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content {
    position: absolute;
    left: 0;
    z-index: 3;
    max-width: 300px;
    padding: 20px;
    text-align: left;
}

.header-title {
    position: relative;
    display: flex;
}

header h1 {
    font-size: 160px;
    font-weight: 900;
    margin: 0;
    color: #FAFAED;
    position: relative;
    z-index: 4;
    /* Garante que a exclamação esteja acima da imagem da entregadora */
}

header h2 {
    font-size: 48px;
    font-family: 'Rounded Mplus 1c', sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0;
    color: #FFC024;
}

header p {
    font-size: 16px;
    margin: 10px 0 20px;
    color: white;
}

.order-button {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

.circle-background {
    position: relative;
    width: 587px;
    height: 587px;
    background-color: #730000;
    border-radius: 50%;
    z-index: 1;
    /* Centraliza o círculo atrás da entregadora */
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-person {
    position: relative;
    z-index: 2;
    max-width: 666px;
    justify-content: center;
}

.balloon {
    position: absolute;
    z-index: 2;
}

.balloon-blue {
    top: -20px;
        left: -50px;
    max-width: 116px;
}

.balloon-yellow {
    bottom: 130px;
        right: -55px;
    max-width: 106px;
}

main {
    padding: 40px 20px;
    background-color: #FAFAED;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

.options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.option {
    background-color: #FAFAED;
    box-shadow: 0px 4px 12px 0px #E0DBBF99;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.option.selected {
    background-color: #1820EF;
    border-color: #004494;
    color: #FFF;
}

.option img {
    max-width: 100px;
}

.option p:nth-of-type(1) {
    color: #1820EF;
    font-weight: bold;
    font-size: 20px;
    margin: 14px 0px 10px;

}

.option p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 36px;


}

.option p:nth-of-type(3) {
    color: #FF4E42;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 40px;

}

.option.selected p:nth-of-type(1),
.option.selected p:nth-of-type(2) {
    color: #FFFFFF;
}

.option.selected p:nth-of-type(3) {
    color: #FFC024;
}

button#place-order {
    background-color: #1820EF;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#place-order:disabled {
    background-color: #999;
    cursor: not-allowed;
}

#order-status {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.2em;
    }

    .order-button {
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .delivery-person {
        max-width: 300px;
        right: 5%;
    }

    .balloon {
        max-width: 100px;
    }

    .balloon-blue {
        top: -10px;
            left: -75px;
    }

    .balloon-yellow {
        bottom: -50px;
            right: -60px;
    }

    .circle-background {
        width: 300px;
        height: 300px;
    }
}
