body {
    font-family: 'Rounded Mplus 1c', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo-ramenGO {
    z-index: 5;
    align-self: flex-start;
    padding-left: 32px;
    max-width: 125px;
    position: relative;
}

header {
    position: relative;
    color: white;
    text-align: left;
    overflow: hidden;
    background: url('assets/pattern-vermelha.png') repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content {
    position: absolute;
    right: calc(50% + 288px);
    z-index: 3;
    max-width: 200px;
    padding: 20px;
    text-align: left;
}

.header-title {
    position: relative;
    display: flex;
}

header h1 {
    font-size: 160px;
    font-weight: 900;
    margin: 0;
    color: #FAFAED;
    position: relative;
    z-index: 4;
    top: 50px;
}

header h2 {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0 8px 0 -15px;
    color: #FFC024;
}

header p {
    font-size: 16px;
    margin: 10px 0 20px;
    color: white;
}

.order-button {
    display: flex;
    justify-content: space-between;
    background-color: #1820EF;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 800;
}

.arrow {
    width: 20px;
    height: 16px;
}

.circle-background {
    position: relative;
    width: 587px;
    height: 587px;
    background-color: #730000;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-person {
    position: relative;
    z-index: 2;
    max-width: 666px;
    justify-content: center;
}

.balloon {
    position: absolute;
    z-index: 2;
}

.balloon-blue {
    top: -20px;
    left: -50px;
    max-width: 116px;
}

.balloon-yellow {
    bottom: 130px;
    right: -55px;
    max-width: 106px;
}

main {
    padding: 40px 20px;
    background-color: #FAFAED;
}

#broth-options, #protein-options{
    
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
}

.options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.option {
    background-color: #FAFAED;
    box-shadow: 0px 4px 12px 0px #E0DBBF99;
    border-radius: 10px;
    padding: 20px;
    margin-right: 63px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.option.selected {
    background-color: #1820EF;
    border-color: #004494;
    color: #FFF;
}

.option img {
    max-width: 100px;
}

.option p:nth-of-type(1) {
    color: #1820EF;
    font-weight: bold;
    font-size: 20px;
    margin: 14px 0px 10px;
}

.option p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 36px;
}

.option p:nth-of-type(3) {
    color: #FF4E42;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 40px;
}

.option.selected p:nth-of-type(1),
.option.selected p:nth-of-type(2) {
    color: #FFFFFF;
}

.option.selected p:nth-of-type(3) {
    color: #FFC024;
}

.centralized-container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

/* Modifique o estilo do botão conforme necessário */
button#place-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #1820EF;
    color: white;
    width: 215px;
    height: 60px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#place-order:disabled {
    background-color: #999;
    cursor: not-allowed;
}

#order-status {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.hidden {
    display: none;
}

#success-section {
    display: none;
    background-color: #FAFAED;
    height: 100vh;
}

.success-container {
    display: flex;
    width: 100%;
}

.success-left {
    position: relative;
    background: url('assets/pattern-azul.png') no-repeat center center;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
}

.success-left .logo-ramenGO {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    /* Adicionado para garantir que o logo fique sobre o fundo */
}

#success-image {
    max-width: 644px;
}

#success-order {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: #FFF;
}

#order-details {
    font-size: 32px;
    color: #FFC024;
    margin: 0;
}

.success-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAED;
}

#bowing-image {
    width: 65px;
}

.success-right #title {
    font-size: 16px;
    color: #FFC024;
    font-weight: bold;
}

.success-right h1 {
    font-size: 32px;
    color: #FF4E42;
    margin: 0;
}

#new-order-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
    height: 60px;
    background-color: #1820EF;
    color: white;
    padding: 0 16px;
    margin: 0 16px 72px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logo-ramenGO#red {
    padding-top: 32px;
}
.carousel-dots {
    display: none;
}


@media (max-width: 768px) {
    .header-content {
        position: static; /* Remove absolute positioning */
        margin: 0 auto; /* Center the content */
        max-width: 300px;
        padding: 20px;
        text-align: center;
    }

    .header-title {
        flex-direction: column;
    }

    header h2 {
        letter-spacing: 0;
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        height: 30px;
    }

    header h1 {
        font-size: 120px;
        top: 0;
        position: static;
        height: 140px;
    }
    .logo-ramenGO {
        margin-bottom: 32px;
        padding-left: 0;
        align-self: center;

    }


    .order-button {
        display: none;
    }

    .circle-background {
        width: 231px;
        height: 231px;
    }

    .delivery-person {
        max-width: 262px;
    }

    .balloon-blue {
        left: -15px;
        max-width: 45px;
    }

    .balloon-yellow {
        bottom: 50px;
        right: -21px;
        max-width: 41px;
    }
    #broth-options, #protein-options {
        display: flex;
        justify-content: flex-start; /* Ensure items are aligned to the start */
        overflow-x: auto; /* Ensure horizontal scrolling is enabled */
        scroll-snap-type: x mandatory; /* Enable snap scrolling */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
    }

    .option {
        width: calc(100% - 72px); /* Ensure the options take full width */
        margin-right: 20px; /* Margin adjustments */
        flex: 0 0 auto; /* Garantir que os itens não encolham */
        scroll-snap-align: start; /* Alinhar os itens na rolagem */
        margin-bottom: 10px;
    }

    #broth-options::-webkit-scrollbar, #protein-options::-webkit-scrollbar {
        display: none; /* Ocultar barra de rolagem no Chrome, Safari e Opera */
    }
    .carousel-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .carousel-dots .dot {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        background-color: #E0DBBF; /* Cor padrão */
        border-radius: 50%;
        cursor: pointer;
        transition: width 0.3s, background-color 0.3s;
    }
    
    .carousel-dots .dot.active {
        background-color: #FF4E42; /* Cor da bolinha ativa */
        width: 36px; /* Largura da bolinha ativa */
        border-radius: 8px;
    }
   
    #order-details {
        font-size: 24px;
        margin-bottom: 100px;
    }
    .logo-ramenGO#red {
        padding-top: 20px;
        width: 125px;
        position: static;
    }
   
    .success-container {
        flex-direction: column;
    }

    .success-left,
    .success-right {
        width: 100%;
    }
    #success-image {
        max-width: 488px;
    }
    #bowing-image {
        margin-top: 71px;
    }
    #desciption-success {
        margin: 24px 8px;
    }
}
